.DS_Store

# Das erstellte Setup und alles was im Build-Prozess erzeugt wird, brauchen wir nicht im Repository
build/*

# Vorsichtshalber auch alle von Wix erzeugten Dateien
*.exe
*.msi
*.wixobj
*.wixpdb